<div id="action-description">
  <p>
    This sample demonstrates the way of binding data to Gantt chart with remote
    service. The Gantt chart data source is bound to remote data using
    DataManager. This sample data helps to visualize the various phases of
    barley harvesting.
  </p>
</div>
<div class="control-section">
  <ejs-gantt
    id="ganttDefault"
    height="430px"
    [dataSource]="data"
    [taskFields]="taskSettings"
    [editSettings]="editSettings"
    [toolbar]="toolbar"
    [columns]="columns"
    [timelineSettings]="timelineSettings"
    [labelSettings]="labelSettings"
    [treeColumnIndex]="0"
    height="450px"
    [allowSelection]="true"
    [projectStartDate]="projectStartDate"
    [projectEndDate]="projectEndDate"
    [highlightWeekends]="true"
    [gridLines]="gridLines"
    [includeWeekend]="true"
  >
  </ejs-gantt>
  <div style="float: right; margin: 10px;">
    Source:
    <a
      href="https://en.wikipedia.org/wiki/Cereal_growth_staging_scales"
      target="_blank"
      >https://en.wikipedia.org/</a
    >
  </div>
</div>
